{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil | Alumno</title>
    <link rel="stylesheet" href="{% static 'myApp/css/styles.css' %}" />
</head>
<body>

<header class="topbar">
    <div class="brand">
        <div class="mark">✳</div>
        <div class="brand-title"><strong>UTN.<span>BA</span></strong><small>Sistema de Gestión Electoral</small></div>
    </div>
    <div class="userbox"><strong>Martina Rodríguez</strong><span>Rol: <b>Alumno</b></span></div>
</header>

{% block content %}
{% endblock %}

</body>
</html>
